@using Koh.Emulator.App.Components
@using Koh.Emulator.App.StandaloneMode

<div class="standalone-shell">
    <h1>Koh Emulator</h1>
    <RomFilePicker />
    <PlaybackControls />
    <SaveStateControls />
    <LcdDisplay />
    <CpuDashboard />
</div>
