@using Koh.Emulator.App.Services
@inject EmulatorHost EmulatorHost

<div class="playback">
    <button @onclick="Run" disabled="@(EmulatorHost.System is null || !EmulatorHost.IsPaused)">Run</button>
    <button @onclick="Pause" disabled="@(EmulatorHost.IsPaused)">Pause</button>
    <button @onclick="StepInstruction" disabled="@(EmulatorHost.System is null)">Step</button>
</div>

@code {
    private async Task Run()
    {
        await EmulatorHost.RunAsync();
    }

    private void Pause() => EmulatorHost.Pause();

    private void StepInstruction() => EmulatorHost.StepInstruction();
}
