@using Koh.Emulator.App.Services
@using Koh.Emulator.Core.Ppu
@inject EmulatorHost EmulatorHost
@implements IDisposable

<div class="oam-view">
    <h3>OAM</h3>
    @if (EmulatorHost.System is { } gb)
    {
        <table>
            <thead><tr><th>#</th><th>Y</th><th>X</th><th>Tile</th><th>Flags</th></tr></thead>
            <tbody>
                @for (int i = 0; i < 40; i++)
                {
                    var sprite = ObjectAttributes.Parse(gb.Mmu.Oam, i);
                    <tr>
                        <td>@i</td>
                        <td>$@(sprite.Y.ToString("X2"))</td>
                        <td>$@(sprite.X.ToString("X2"))</td>
                        <td>$@(sprite.Tile.ToString("X2"))</td>
                        <td>$@(sprite.Flags.ToString("X2"))</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <em>No ROM loaded.</em>
    }
</div>

@code {
    protected override void OnInitialized() => EmulatorHost.StateChanged += OnStateChanged;
    private void OnStateChanged() => InvokeAsync(StateHasChanged);
    public void Dispose() => EmulatorHost.StateChanged -= OnStateChanged;
}
